*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: rgb(248, 228, 232);
}
/* global style written in body */
header{
    background-color: darkblue;
    height: 5rem;
    padding: 1rem 0;
    /* this is a short hand for padding left right top & botton 
    by represending this way the first will taken by top and botton
     and next will taken by left and right commonly i.e  padding: 1rem 0; 
     means padding top and padding bottom is 1 rem and padding left and 
     padding right is zero*/
}
#logo{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: white;
    
}
#logoimage{
    height: 1.5rem
}
nav{
    display: none;
    
}
nav ul{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
   
    
}
nav a{
    color: white;
    text-decoration: none;
  
    
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.product{
    border: 1px solid rgb(167, 164, 164);
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    margin: 0.25rem;
}
.product img{
    width: 100%;
    object-fit: cover;
    /* this property used to fit uneven image */

}
.starentity{
    color: orange;
}
.priceandbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}
.addbutton{
    padding: 0.3rem 0.5rem;
    color: white;
    background-color: green;
    border: none;
    border-radius: 0.2rem;
    font-size: 0.75rem;
    transition: all ease-in 0.2s;
}
/* transition is used to show how the animation take in hover */
.addbutton:hover{
    background-color: rgb(81, 221, 81);
}
/* this hover here used to change colour while the mouse cursor touch the button */
#productlist{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* The below media query is copy paste from zerotonerdy.com website */
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px) {
    /* Your styles for small screens go here */
    #productlist{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) {
    /* Your styles for medium screens go here */
    #menubutton{
        display: none;
    }
    nav{
        display: block;
    }
    #productlist{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) {
    /* Your styles for large screens go here */
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
    #productlist{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    }
}
/* git running process explan on class 18/01/2024, 1:10:11 hr
link: https://medium.com/cognited/simplifying-git-basics-6d6a6a68dbdb */